@import "../../config/_breakpoints.scss"; // TODO: change to @use

.ranking-table {
  width: 100%;
  background: none;
  border-spacing: 0;

  thead {
    color: #ffffff;
    font-family: "Gilroy-Regular", sans-serif;
    font-weight: 300;
    font-size: 0.8rem;
    tr {
      th {
        padding: 8px;
      }
    }
  }

  tbody {
    background: none;

    tr {
      td {
        font-family: "Gilroy-Regular", sans-serif;
        font-weight: 500;
        padding: 8px;
        margin: 0;
        border: none;
        font-size: 0.7rem;
        text-align: center;

        .ranking-table__nationality {
          box-shadow: 0 0 10px 1px #000000; // TODO
        }

        .ranking-table__trend--down {
          color: #ee0000;
        }

        .ranking-table__trend--up {
          color: green; // TODO
        }
      }
    }

    tr:nth-of-type(2n + 1) {
      background-color: #ffffff;
      color: #000000;
    }
    tr:nth-of-type(2n) {
      background: transparent;
      color: #ffffff;
    }
  }
}

/* Tablet version */

@media only screen and (min-width: $tablet-breakpoint) {
  .ranking-table {
    thead {
      background-color: #ff6565;
    }

    tbody {
      tr:nth-of-type(2n + 1) {
        background-color: #ffffff;
        color: #000000;
      }
      tr:nth-of-type(2n) {
        background: #f9f9f9;
        color: #000000;
      }
    }
  }
}

/* Desktop version */

@media only screen and (min-width: $desktop-breakpoint) {
}
