@import "../../config/_breakpoints.scss"; // TODO: change to @use

.main-content {
  .top-players-list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      border-bottom: 4px solid #ff6565;
    }
    li:first-of-type {
      border-top: 4px solid #ff6565;
    }
  }
}

/* Tablet version */

@media only screen and (min-width: $tablet-breakpoint) {
  .main-content {
    .top-players-list {
      display: flex;
      justify-content: space-between;
      li {
        border: none;
      }
      li:first-of-type {
        border: none;
      }

      margin-bottom: 50px;
    }
  }
}

/* Desktop version */

@media only screen and (min-width: $desktop-breakpoint) {
}
