@import "../../config/_breakpoints.scss"; // TODO: change to @use

.page-footer {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 30px;
  color: #ff6565;
  font-size: 0.7rem;
  font-family: "Gilroy-Regular", sans-serif;
  display: none;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 1), 4px -4px 8px rgba(0, 0, 0, 1);
}

/* Tablet version */

@media only screen and (min-width: $tablet-breakpoint) {
  .page-footer {
    display: block;
  }
}

/* Desktop version */

@media only screen and (min-width: $desktop-breakpoint) {
}
