@import "../../config/_breakpoints.scss"; // TODO: change to @use

.player-history-table__link {
  display: block;
  text-decoration: none;
}

tr:nth-of-type(2n+1) .player-history-table__link {
  color: #000000;
}

tr:nth-of-type(2n) .player-history-table__link {
  color: #ffffff;
}



/* Tablet version */

@media only screen and (min-width: $tablet-breakpoint) {
  tr:nth-of-type(2n+1) .player-history-table__link {
    color: #000000;
  }

  tr:nth-of-type(2n) .player-history-table__link {
    color: #000000;
  }
}

/* Desktop version */

@media only screen and (min-width: $desktop-breakpoint) {

}
