.competition {

    background-color: rgba(0,0,0,0.6);
    text-align: center;
    padding-top: 30px;

    .competition__name {
        color: #ffffff;
        font-size: 2.5em;
        margin-bottom: 20px;
    }

    .competition__title {
        color: #ffffff;
        font-size: 1.5em;
        line-height: 2em;
    }
}