.page-header {
  padding: 26px 21px 40px 21px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header--open {
  background-image: url("/img/ball-cut.png");
  background-size: 130px auto;
  background-position: right;
  background-repeat: no-repeat;
}
