@import "../../config/_breakpoints.scss"; // TODO: change to @use

.page-header {
  padding: 26px 21px 40px 21px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.page-header--open {
  background-image: url("/img/ball-cut.png");
  background-size: 130px auto;
  background-position: right;
  background-repeat: no-repeat;
}

/* Tablet version */

@media only screen and (min-width: $tablet-breakpoint) {
  .page-header {
  }

  .page-header--open {
    background: none;
  }
}

/* Desktop version */

@media only screen and (min-width: $desktop-breakpoint) {
}
