.header-wrapper {
    background-color: #000000;

    .app-header {
        position: relative;
        padding: 10px;
        margin: 0 auto;
        display: flex;

        .app-header__logo {
            width: 50px;
            height: 50px;
            margin-right: 10px;
        }
        .app-header__title {
            color: #ffffff;
            font-family: 'Montserrat', sans-serif;
            font-size: 3em;
            margin-bottom: 12px;
        }
        .app-header__subtitle {
            color: #3786e5;
            font-family: 'Montserrat', sans-serif;
            font-size: 1.2em;
        }
        .app-header__hamburger {
            background: none; 
            border: 1px solid #ffffff;
            color: #ffffff;
            height: 30px;
            width: 30px;
            padding: 0;
            position: absolute;
            right: 10px;
            top: 10px;
            cursor: pointer;
            border-radius: 5px;
        }
        .app-header__hamburger--hidden {
            visibility: hidden;
            display: none;
        }
        .page-nav {
            display: none;
            visibility: hidden;
            width: 100%;
            background-color: #000000;
            position: fixed; 
            top: 0;
            left: 0;
            padding: 10px;
            box-sizing: border-box;
            z-index: 1;
        }

        .page-nav a {
            color: #ffffff;
        }

        .page-nav--open {
            display: block;
            visibility: visible;
        }
        .page-nav__sharp {
            background: none;
            border: 1px solid #ffffff;
            color: #ffffff;
            position: absolute;
            right: 10px;
            top: 10px;
            height: 30px;
            width: 30px;
            padding: 0;
            cursor: pointer;
            border-radius: 5px;
        }

        .page-nav__links {
            margin-top: 10px;
        }

        .page-nav__link {
            text-transform: uppercase;
            margin-bottom: 20px;
            text-align: center;
        }

        .page-nav__link:hover {
            text-decoration: underline;
        }
    }
}

// TABLET
@media only screen and (min-width: 768px) {
    .app-header {
        width: 700px;
    }
}

// DESKTOP
@media only screen and (min-width: 1200px) {}