.ranking {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;

    .ranking__top-list {
        display: flex;
        flex-direction: column;
    }

    .ranking__table {
        width: 100%;
        text-align: center;
    }

    .ranking__header {
        background-color: rgba(80, 111, 148, 0.7);
        box-sizing: border-box;
    }

    .ranking__header th {
        height: 50px;
        vertical-align: middle;
        font-weight: bold;
    }

    .ranking__body {
        font-family: 'Roboto';
        font-weight: 500;
    }

    .ranking__link {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: #000000;
    }

    .ranking__row {
        box-sizing: border-box;
        height: 30px;
    }

    .ranking__row td {
        vertical-align: middle;
    }

    .ranking__row:nth-child(2n-1) {
        background-color: rgba(199,199,200,0.7);
    }

    .ranking__row:nth-child(2n) {
        background-color: rgba(168,168,169,0.7);
    }

    .ranking__flag {
        width: 20px;
        height: auto;
    }
    
}