.ranking {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;

    .show-filters-wrapper {
        background-color: rgba(0,0,0,0.6);
        text-align: center;
        padding: 15px 0;

        .show-filters-button {
            border: none;
            background-color: #000000;
            border-radius: 15px;
            color: #ffffff;
            padding: 10px 20px;
            cursor: pointer;
        }

        .show-filters-button:hover {
            background-color: #3786e5;
        }
    }

    .ranking__top-list {
        display: flex;
        flex-direction: column;
    }

    .ranking__table {
        width: 100%;
        text-align: center;
    }

    .ranking__header {
        background-color: rgba(80, 111, 148, 0.7);
        box-sizing: border-box;
    }

    .ranking__header th {
        height: 50px;
        vertical-align: middle;
        font-weight: bold;
    }

    .ranking__body {
        font-family: 'Roboto';
        font-weight: 500;
    }

    .ranking__link {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: #000000;
    }

    .ranking__row {
        box-sizing: border-box;
        height: 30px;
    }

    .ranking__row td {
        vertical-align: middle;
    }

    .ranking__row:nth-child(2n-1) {
        background-color: rgba(199,199,200,0.7);
    }

    .ranking__row:nth-child(2n) {
        background-color: rgba(168,168,169,0.7);
    }

    .ranking__flag {
        width: 20px;
        height: auto;
    }

    .filters {
        display: none;
        background-color: #000000;
        color: #ffffff;
        position: fixed;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        padding: 30px;
    }

    .filters--open {
        display: block;
    }

    .filter-title {
        text-align: center;
        font-size: 1.7em;
    }

    .filters__sharp {
        background-color: #000000;
        border: 1px solid #ffffff;
        color: #ffffff;
        position: absolute;
        right: 10px;
        top: 10px;
        height: 30px;
        width: 30px;
        padding: 0;
        cursor: pointer;
        border-radius: 5px;
    }

    .filter-slider {

    }
    
}