.tournament {
  color: #ffffff;
  position: relative;
  min-height: 100vh;

  .tournament__image-wrapper {
    .tournament__image {
      display: block;
      width: 100%;
    }
  }

  .tournament__header {
    .tournament__back-arrow {
      background: none;
      color: #ffffff;
      border: none;
      cursor: pointer;
    }
    .tournament__flag {
      position: absolute;
      top: 24px;
      right: 12px;
    }
  }

  .tournament__info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 24px 12px;
    box-sizing: border-box;

    .tournament__name {
      font-family: Gilroy-Regular, "sans-serif";
      font-weight: 600;
      font-size: 2rem;
      margin: 0;
    }

    .tournament__nickname {
      font-family: Gilroy-Regular, "sans-serif";
      font-weight: 600;
      font-size: 1.3rem;
      margin: 0;
      padding-left: 20px;
    }
    .tournament__details {
      list-style: none;
      margin: 30px 0;
      padding:  0 0 0 20px;
      li {
        display: block;
      }
    }

    .tournament__social-media {
      margin: 0 auto;
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: space-between;
      width: 100px;
      font-size: 1.5rem;
    }
  }

  .tournament__sections {
    position: relative;
  }

  .tournament-nav {
    text-align: center;
    position: absolute;
    height: 70px;
    top: -70px;
    width: 100%;

    .tournament-nav__link {
      text-decoration: none;
      color: #646464;
      display: block;
    }

    .tournament-nav__link--active {
      color: #ff6565;
    }

    .tournament-nav__link--active:after {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f078";
      margin-left: 5px;
    }
  }

  .tournament__description {
    background: #000000;
    text-align: justify;
    line-height: 1.5rem;
    font-size: 1rem;
    padding: 12px;
  }
}
