.footer {
    background-color: #000000;
    box-sizing: border-box;
    padding: 15px 0;

    .footer__text {
        color: #FFFFFF;
        text-align: center;
        font-size: 1.2em;
    }
}


    
