.ranking-filters {
  padding: 0 21px;
  box-sizing: border-box;
}

.ranking-filters-button {
  background-color: #ff6565;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  font-size: 0.7rem;
  padding: 7px;
  font-family: "Gilroy-Regular", sans-serif;
  font-weight: 500;
  margin: 0 auto 25px auto;
  display: flex;
  align-items: center;
  cursor: pointer;
  
  .ranking-filters-button__arrow {
    margin-left: 10px;
  }
}
