.player {
  color: #ffffff;
  position: relative;
  min-height: 100vh;

  .player__image-wrapper {
    .player__image {
      display: block;
      width: 100%;
    }
  }

  .player__header {
    .player__back-arrow {
      background: none;
      color: #ffffff;
      border: none;
      cursor: pointer;
      font-size: 1.3rem;
    }
    .player__flag {
      position: absolute;
      top: 24px;
      right: 12px;
    }
  }

  .player__info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 24px 12px;
    box-sizing: border-box;

    .player__place {
      color: #ff6565;
      padding-left: 20px;
      font-size: 0.9rem;
    }
    .player__name {
      font-family: Gilroy-Regular, "sans-serif";
      font-weight: 600;
      font-size: 2rem;
      margin: 0;
    }

    .player__nickname {
      font-family: Gilroy-Regular, "sans-serif";
      font-weight: 600;
      font-size: 1.3rem;
      margin: 0;
      padding-left: 20px;
    }
    .player__details {
      list-style: none;
      margin: 30px 0;
      padding:  0 0 0 20px;
      li {
        display: block;
      }
    }

    .player__social-media {
      margin: 0 auto;
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: space-between;
      width: 100px;
      font-size: 1.5rem;
    }
  }

  .player__sections {
    position: relative;
  }

  .player-nav {
    text-align: center;
    position: absolute;
    height: 70px;
    top: -70px;
    width: 100%;

    .player-nav__link {
      text-decoration: none;
      color: #646464;
      display: block;
    }

    .player-nav__link--active {
      color: #ff6565;
    }

    .player-nav__link--active:after {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f078";
      margin-left: 5px;
    }
  }

  .player__statistics {
    margin: 0;
    background-color: #000000;
    .statistics__title {
      margin: 0;
    }
    .statistics__list {
      list-style: none;
      text-align: center;
      padding: 10px 0;
      margin: 0;

      li {
        margin: 15px 0;
        font-size: 2rem;

        .statistics__number {
          display: block;
          font-size: 4rem;
        }
      }
    }
  }

  .player__bio {
    background: #000000;
    text-align: justify;
    line-height: 1.5rem;
    font-size: 1rem;
    padding: 12px;
  }
}
