.page-navigation {
  display: flex;
  align-items: center;
  position: relative;
  .current-view-name {
    font-family: "Gilroy-Regular", "sans-serif";
    font-size: 1rem;
    font-weight: 500;
    color: #ff6565;
    text-transform: uppercase;
    position: relative;
    display: block;
    span {
      margin: 0 21px 0 0;
      display: block;
    }
  }

  .page-navigation__inner-nav {
    position: absolute;
    top: 32px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin-bottom: 3px;

        .page-navigation__link {
          font-size: 1rem;
          font-weight: 500;
          text-transform: uppercase;
          font-family: "Gilroy-Regular", "sans-serif";
          color: #ffffff;
          text-decoration: none;
        }

        .page-navigation__link--active {
          color: #ff6565;
          margin-right: 21px;
        }
      }

      li:first-child {
        text-align: right;
      }

      li:last-child {
        margin-left: 20px;
      }
    }
  }
    .page-navigation__hamburger--open, .page-navigation__hamburger--closed {
      color: #ff6565;
      cursor: pointer;
      background: none;
      border: none;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 0;
      right: 0;
    }
}
