@import "../../config/_breakpoints.scss"; // TODO: change to @use

.page-navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 96px;

  .page-navigation__link {
    font-size: 1rem;
    font-weight: 700;
    font-family: "Gilroy-Regular", "sans-serif";
    color: #ffffff;
    text-decoration: none;
    margin-right: 15px;
  }

  .page-navigation__link--active {
    color: #ff6565;
  }

  .page-navigation__link:hover {
    color: #ff6565;
  }
}
