@import './reset.scss';

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url('/img/app-bg.png');
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;

  font-size: 12px;
}

a {
  text-decoration: none;
}
