body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 1000px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  background-color: #010021;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  max-width: 1100px;
  margin: 0 auto;
}

.header h1 {
  font-size: 50px;
  text-decoration: underline;
  color: white;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header li {
  padding: 10px 30px;
}

.header a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.header a:hover {
  color: grey;
  transition: all 300ms ease-in-out;
}

.home {
  text-align: center;
}

.home-table {
  display: block;
  max-width: 800px;
  border: solid 5px black;
  box-shadow: 3px 3px 10px black;
  margin: 10px auto;
}

.home-table tr,
.home-table thead,
.home-table tbody {
  display: block;
}

.home-table tr {
  padding: 10px 20px;
  border-bottom: 1px solid grey;
}

.home-table tr::after {
  content: "";
  display: table;
  clear: both;
}

.home-table th, .home-table td {
  display: block;
  width: 25%;
  float: left;
  padding: 0;
  text-align: center;
}

.home-table tr:hover {
  background-color: #eee;
}

.footer {
  background-color: #010021;
  text-align: center;
  color: white;
  padding: 15px;
}
